@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Poppins');

body, html, header {
  width: 100%;
  margin: 0;
  padding: 0;
}
body{
  background:#f7f1e3;
}


/* carousel  */

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .thumbnail a>img, .thumbnail>img {
  display: table;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.carousel-caption {
  right: 20%;
  left: 20%;
  padding-bottom: 30vh;
  position: fixed;
}

.carousel-caption h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 4vmax;
}

span.glyphicon.glyphicon-chevron-down{
  font-size: 40px;
color: #fff;
padding-top: 15px;
padding-bottom: 0px;
border: 1px solid #fff;
 animation: bounce 0.7s ease infinite;
}
/*span.glyphicon.glyphicon-chevron-down{
font-size: 40px;
color: #181616;
padding-top: 20px;
border: 1px solid #534f4f;
animation: bounce 0.7s ease infinite}*/

@keyframes bounce{
     from {top: 106px;}
     50%  {top: 86px;}
     to   {top: 106px;}
}

#section-first {
  text-align: center;
  display: table;
  width: 100%;
  height: 100vh;
  padding-top: 10%;

}
div.col-lg-4 p{
  font-size: 18px;
  line-height: 1.4;
  margin: 18px;

}
a.btn.btn-default{
  background: transparent;
border: 1px solid #000;
font-size: 20px;
}
#section-first h2 {
  font-size: 3em;
  color: #a69431;
}

#section-second {

  text-align: center;
  display: table;
  width: 100%;
  height: 100vh;

}



#section-third {

  text-align: center;
  display: table;
  width: 100%;
  height: 100vh;
  padding-top: 10%;
  background:
}

#section-final {

  text-align: center;
  display: table;
  width: 100%;
  height: 100vh;
  padding-top: 10%;
  background:
}
p.paragraphe{
  font-size: 18x;
line-height: 1.3;

}
@media screen and (max-width: 400px) {
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 10vh;
  }
}

.midnightHeader.default {
  background-color: transparent;
  color: #fff;
}

.midnightHeader.white {
  background-color: #fff;
  color: black;
}

.midnightHeader.transp {
  background-color: transparent;
  color: white;
}

.midnightHeader.transp .navbar-brand, .midnightHeader.transp .navbar-nav>li>a {
  color: #fff;
}

.midnightHeader.blue {
  background-color: #17b3cb;
  color: white;
}

.midnightHeader.blue .navbar-brand, .midnightHeader.blue .navbar-nav>li>a {
  color: #fff;
}

.midnightHeader.red {
  background-color: red;
  color: white;
}

.midnightHeader.red .navbar-brand, .midnightHeader.red .navbar-nav>li>a {
  color: #fff;
}

.midnightHeader.dark {
  background-color: #333;
  color: white;
}

.midnightHeader.dark .navbar-brand, .midnightHeader.dark .navbar-nav>li>a {
  color: #fff;
}

.midnightHeader.orange {
  background-color: #ee6215;
  color: white;
}

.midnightHeader.orange .navbar-brand, .midnightHeader.orange .navbar-nav>li>a {
  color: #fff;
}
