@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Poppins');

body, html, header {
  width: 100%;
  margin: 0;
  padding: 0;
}
body{
  background:#fff;
}



span.glyphicon.glyphicon-chevron-down{
  font-size: 40px;
color: #fff;
padding-top: 15px;
padding-bottom: 0px;
border: 1px solid #fff;
 animation: bounce 0.7s ease infinite;
}
/*span.glyphicon.glyphicon-chevron-down{
font-size: 40px;
color: #181616;
padding-top: 20px;
border: 1px solid #534f4f;
animation: bounce 0.7s ease infinite}*/

@keyframes bounce{
     from {top: 106px;}
     50%  {top: 86px;}
     to   {top: 106px;}
}
