@import url('https://fonts.googleapis.com/css?family=Raleway');

h1
{
  text-align: center;
<<<<<<< HEAD
  font-size: 4em;
}

h2
{
  font-size: 3em;
=======
>>>>>>> 9682eac0daf6df339827bcb908c29da24d466638
}

body
{
font-family: 'Raleway', sans-serif;
}

.thumbnail
{
  text-align: center;
}

#myModal
{
  text-align: center;
}
.modal-footer
{
  text-align: center;
}
