@import url('https://fonts.googleapis.com/css?family=Raleway');

h1
{
  text-align: center;
<<<<<<< HEAD
  font-size: 4em;
}

h2
{
  font-size: 3em;
=======
>>>>>>> 9682eac0daf6df339827bcb908c29da24d466638
}

body
{
font-family: 'Raleway', sans-serif;
}

.thumbnail
{
  text-align: center;
}

#myModal
{
  text-align: center;
}
.modal-footer
{
  text-align: center;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #354cb0;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;

}

#myBtn:hover {
  background-color: #556dd2;
}
.btn{
  font-size: 20px;
  background: #fff;
    background-color: rgb(255, 255, 255);
border: 1px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
border-radius: 0px;

}
