footer{
  background-color: #1A1A1A;

}
footer .row {
  padding: 10px;
background-color: #1A1A1A;
color: #898989;

}

footer img {
width: 2vw;
max-height: 2hw;
}

aside {
text-align: center;
}

iframe {
border: none;
}
p{
text-align: center;
font-size: 18px;
}
